{% extends 'clientes/base.html'%}


{% block titulo %}
    Todos usuários!
{% endblock titulo %}
    Todos usuários!


{% block conteudo%}
    <table class="table table-success table-striped">
        <tr>
            <td>Nome</td>
            <td>Data de Nascimento</td>
            <td>Sexo</td>
            <td>Ações</td>
        </tr>
        {% for i in clientes %}
            <tr>
                <td> <a href=" {% url 'listar_cliente_id' i.id %} ">{{i.nome}}</a></td>
                <td> {{i.data_nascimento | date:"d M Y"}} </td>
                <td> {{i.sexo}} </td>
                <td>
                    <a href="{% url 'editar_cliente' i.id %}">Editar</a>
                    <a href="{% url 'remover_cliente' i.id %}">Remover</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-primary">Cadastrar</button></a>
{% endblock conteudo%}
    
